<div class="container-fluid">
  <div class="row title-dashboard">
    <div class="col-sm-12 col-md-6">
      <h6>
        Resumen de ventas
        <i class="fa fa-info-circle color-i-dashboard" aria-hidden="true"></i>
      </h6>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="form-group d-flex flex-row-reverse">
        <input type="date" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-3 card-dashboard">
      <div class="card">
        <div class="card-body">
          <p></p>
          <p>
            <span class="badge circle-badge"
              ><i class="fa fa-file-text-o fa-3x icon-badge" aria-hidden="true"></i>
            </span>
          </p>
          <p class="number-card"><b>$0</b></p>

          <p class="text-card">Ad spend</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 card-dashboard">
      <div class="card">
        <div class="card-body"></div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 card-dashboard">
      <div class="card">
        <div class="card-body"></div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 card-dashboard">
      <div class="card">
        <div class="card-body"></div>
      </div>
    </div>
  </div>
</div>
