<div class="container word">
  <div class="row title-type-select">
    <div class="col-sm-12 col-md-6">
      <h2 class="title-type">
        Tipos de embudos
        <i class="fa fa-info-circle color-i-dashboard" aria-hidden="true"></i>
      </h2>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="form-group d-flex flex-row-reverse">
        <button type="button" class="btn btn-outline-secondary">
          <i class="fa fa-plus color-i-button" aria-hidden="true"></i> Crear
          desde cero
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="card">
        <img
          src="../../../assets/img/basic-es.svg"
          class="card-img-top img-type"
          alt="..."
        />
        <div class="card-body text-center">
          <h5 class="card-title card-title-type">Embudo Básico</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
            alias placeat et aperiam
          </p>
          <div>
            <button
              type="button"
              class="btn btn-outline-danger d-inline p-2 btn-width"
            >
              Aprende más
            </button>
            <button
              type="button"
              class="btn btn-danger d-inline p-2 btn-seleccionar btn-width"
            >
              Seleccionar
            </button>
          </div>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item">
            <i class="fa fa-clock-o color-i-dashboard" aria-hidden="true"></i>
            de 20 a 60 minutos
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="card">
        <img
          src="../../../assets/img/with_video-es.svg"
          class="card-img-top img-type"
          alt="..."
        />
        <div class="card-body text-center">
          <h5 class="card-title card-title-type">Embudo con descargable</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
            alias placeat et aperiam
          </p>
          <div>
            <button
              type="button"
              class="btn btn-outline-danger d-inline p-2 btn-width"
            >
              Aprende más
            </button>
            <button
              type="button"
              class="btn btn-danger d-inline p-2 btn-seleccionar btn-width"
            >
              Seleccionar
            </button>
          </div>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item">
            <i class="fa fa-clock-o color-i-dashboard" aria-hidden="true"></i>
            de 30 a 90 minutos
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="card">
        <img
          src="../../../assets/img/with_downloadable-es.svg"
          class="card-img-top img-type"
          alt="..."
        />
        <div class="card-body text-center">
          <h5 class="card-title card-title-type">Embudo con video</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
            alias placeat et aperiam
          </p>
          <div>
            <button
              type="button"
              class="btn btn-outline-danger d-inline p-2 btn-width"
            >
              Aprende más
            </button>
            <button
              type="button"
              class="btn btn-danger d-inline p-2 btn-seleccionar btn-width"
            >
              Seleccionar
            </button>
          </div>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item">
            <i class="fa fa-clock-o color-i-dashboard" aria-hidden="true"></i>
            de 30 a 90 minutos
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<br />
<br /><br />
