$color1: #f72b14;
$color2: #7693a2;

.word {
  font-family: "Nunito Sans", sans-serif;
}

.title-type-select {
  padding-top: 1rem;
}
.title-type {
  color: $color1;
}
.color-i-dashboard {
  color: $color2;
}
.color-i-button{
    color: $color1;
}
.card-title-type{
    font-weight: bold;
    font-size: 1rem;
}
.btn-seleccionar{
    margin-left: 0.1rem;
}
.btn-width{
    max-width: 90%;    
}
.img-type{
    max-height: 15rem;
}
